@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

/* Estilos body */

body {
   @include flex(column,stretch,flex-start);
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}



/*  Estilos para el MAIN */

.titulo {
    text-align: center;
}

main {
    background-color: $secondcolor;
    min-height: 80%;

}

.boton {
    @include flex(row, center, center);
    background-color: $maincolor;
    color: $secondcolor;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 100px;

}

.informacion {
    background-color: darkgrey;
    font-size: 18px;
    padding: 40px 140px;
    margin: 20px 100px;
    border-radius: 10px;

}

iframe {
    border: none;
    width: 100%;
    height: 450px;
    padding: 40px 140px;
}

/*Estilos main Contacto*/

form {

    @include flex (column, center, center);
    gap: 15px;
    background-color: white;
    padding: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}


.contacto-text {
    text-align: center;
    font-size: 40px;
}

input {
    width: 320px;
    padding: 10px;
}

input:focus {
    background-color: $secondcolor;
}

textarea {
    width: 320px;
    padding: 10px;
    resize: none;

}

textarea:focus {
    background-color: $secondcolor;
}

/*MAIN PALETAS*/

.card-container {
    @include flex(column, center, stretch);
    gap: 30px;
    padding: 16px;
}

.my-card {
    @include flex(column, stretch, flex-start);
    width: 200px;
    background-color: #818ed9;
    border: 1px;
    border-radius: 6px;
    margin-bottom: 16px;

}


.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    max-height: 200px;
}

.my-card .card-body {
    padding: 16px;
}

.my-card .card-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;

}


.my-card .card-text {
    font-size: 16px;
    margin-bottom: 16px;
}




/* GALERIA IMAGENES */


.Galeria {
    text-align: center;
    font-size: 50px;
}


.carousel-inner img {
    max-height: 400px;
    object-fit: contain;
    object-position: center;
    width: 100%;
}


.carousel-control-prev,
.carousel-control-next {
    background-color: black;
    width: 100px;
}

/* Accesorios 

.card {
    width: 25%;
}

*/