/*Estilos para el FOOTER*/


footer {
    background-color: $maincolor;
    text-align: center;
    font-size: 18px;
    color: $secondcolor;
    width: 100%;
    position: absolute;
    bottom: 0;

}